/* styles.css */
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
table {
  border: 1px solid #000;
  border-collapse: collapse;
}

td,
th {
  white-space: nowrap;
  vertical-align: center;
  text-align: center;
  font-size: 13px;
}

th {
  padding: 4px 12px;
}

td {
  padding: 12px 24px;
  font-size: 12px;
}

thead {
  background-color: #000;
  color: #fff;
}

tbody th {
  background-color: #1f2d3d;
  color: #fff;
}

tbody th[colspan="6"] {
  padding: 10px;
  padding-left: 55px;
  background-color: #f9fafc;
  color: #1f2d3d;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans", sans-serif;
}

html {
  font-size: 16px;
  font-family: "Spoqa Han Sans", sans-serif;
  letter-spacing: -0.03em;
  color: #212529;
}

body {
  width: 100%;
  height: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  width: 360px;
  font-weight: 100;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #101010;
  letter-spacing: -0.05em;
}

textarea:focus,
textarea:hover,
textarea:active {
  border-color: #1fb6ff;
  outline: none;
  box-shadow: none;
}

textarea {
  display: block;
  resize: none;
  width: 360px;
  height: 200px;
  padding: 0 12px;
  border-radius: 7px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
}
label {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
}

input {
  display: block;
  width: 360px;
  height: 44px;
  padding: 0 12px;
  border-radius: 7px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
}
#submit {
  background-color: #d3dce6;
  color: #4e5152;
}
input:focus,
input:hover,
input:active {
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

input[type="file"] {
  padding-top: 10px;
}
